<section id="login" class="login-section py-5">
  <div class="row my-2 justify-content-center">
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="d-grid gap-2">
        <%= render "layouts/signin"%>
      </div>
    </div>
  </div>
</section>
