<footer class="footer mt-auto bg-primary text-white text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-left">
    2021 © Ministerio de Salud - Dirección Provincial de Informática
  </div>
  <!-- Copyright -->
</footer>
